<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Gustavo Michels de Camargo">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
</head>
<body>
  {{!-- Nav bar --}}
  <div class="container">
    {{{body}}}
  </div>
<script src="/javascripts/jquery-3.6.0.min.js"></script>
<script src="/javascripts/materialize.min.js"></script>
</body>
</html>